/onedayradio/local/mongodb_url=mongodb://onedayradio-admin:password@localhost:27017/onedayradio?authSource=admin
/onedayradio/local/token_secret=an_awesome_token_secret
/onedayradio/local/token_expiration=60d
/onedayradio/local/security_salt_rounds=4
/onedayradio/local/spotify_client_id=client_id
/onedayradio/local/spotify_client_secret=client_secret
/onedayradio/local/spotify_redirect_url=http://localhost:3000/api/auth/signin/spotify/callback
/onedayradio/local/spotify_refresh_token=spotify_refresh_token
/onedayradio/local/spotify_one_day_radio_user_id=spotify_one_day_radio_user_id
/onedayradio/local/spotify_scopes=user-read-playback-state user-modify-playback-state
/onedayradio/local/frontend_url=http://localhost:3001
/onedayradio/local/max_user_songs_per_playlist=5
