# package directories
node_modules

# Serverless directories
.serverless

# IDE files
.vscode

# typescript build files
.build

# log files
*.log

.env
.env-prod
.env-local
.env-dev

.nyc_output

.terraform

coverage

TODO

migrations/db-config**/*.js
!migrations/db-config.template.js
